//Colors
$font-color-white: #fff;
$font-color-black: #000;
$font-color-gray: #ccc;
$font-color-light: #757477;
$font-color-lightGray: rgb(156, 153, 153);
$font-color-red: #b91010;

//Font-Size
$font-size-large: 2.4rem;
$font-size-med: 2rem;
$font-size-reg: 1.3rem;
$font-size-small: 0.9rem;
$font-size-smaller: 0.8rem;
$font-size-primary: 1.1rem;
$font-size-secondary: 1rem;

//Font-weight
$font-weight-bold: 900;
$font-weight-med: 600;
$font-weight-light: 300;

//Paddings
$padding-large: 100px 70px 70px;
$padding-med: 70px 40px 40px;
$padding-small: 60px 30px 30px;