//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "variables";
@import "mixins";

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, 
h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, 
img, ol, ul, li, dl, dt, dd, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}

/*Global Styles*/
html,body {
    width: 100%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	position: relative;
	color: $font-color-white;
	font-weight: $font-weight-light;
    scroll-behavior: smooth;
}

/*---------------------------------------------------------------------
                        Header Section
-----------------------------------------------------------------------*/
header{
    height: 90vh;
    background: url(../img/carousel1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    position: relative;

    .navbar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 2em 4em 0;

        .logo{
            width: 6em;
            height: 6em;
        }
    
        nav{    
            ul {
                list-style: none;
                margin-left: 1.8em;
                display: flex;
                flex-wrap: nowrap;

                li{
                    padding: 2.2em 0.4em 0;
    
                    a{
                        @include mainNavbar;
                    }

                    .list-items::after{
                        @include borderBottom(0);
                    }

                    .list-items:hover::after{
                        width: 50%;
                        transition: width .3s;
                    }

                    .active::after{
                        @include borderBottom(50%);
                    }
                }   
            }
        }
    }
    

    h1{
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        line-height: 1.3;
        letter-spacing: 0.04em;
        position: absolute;
        top: 200px;
        left: 15%;
        width: 500px;
        text-shadow: 0 1px 1px #000;
    }

    p{
        strong{
            display: inline-block;
            text-shadow: 0 1px 1px #000;
        }

        font-size: $font-size-reg;
        font-weight: $font-weight-light;
        word-spacing: 0.15em;
        position: absolute;
        bottom: 70px;
        left: 15%;
        width: 75%;
        padding-right: 7px;
        text-shadow: 0 0 1px #000;
        box-sizing: border-box;
    }
}

/*---------------------------------------------------------------------
                        Article 1 Section
-----------------------------------------------------------------------*/
.Scope1{
    display: flex;
    flex-wrap: wrap;

    .img:first-of-type{
        background: url(../img/article1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 33.3%;
        height: 900px;
    }

    .img:last-of-type{
        background: url(../img/article2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 33.3%;
        height: 900px;
    }

    .about{
        width: 33.3%;
        max-width: 800px;
        height: auto;
        min-height: 100%;
        padding: $padding-large;
        box-sizing: border-box;
        overflow: hidden;

        h2{
            @include heading;
        }

        p{
            @include paragraphs;
        }

        a{
            @include buttons;

            &::before{ 
                @include button-before;
            }

            &::after{ 
                @include button-after;
            }

            &:hover::before, &:hover::after{
                @include button-hover;
            }    
        }         
    } 
}

/*---------------------------------------------------------------------
                        Article 2 Section
-----------------------------------------------------------------------*/
.Scope2{
    display: flex;
    flex-wrap: wrap;

    .img{
        background: url(../img/article3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        width: 66.6%;
        height: 700px;
    }

    .projects{
        width: 33%;
        max-width: 800px;
        height: auto;
        min-height: 100%;
        position: relative;
        padding: $padding-large;
        box-sizing: border-box;
        overflow: hidden;

        h2{
            @include heading;
        }

        p{
            @include paragraphs;
        }

        a{
            @include buttons;

            &::before{ 
                @include button-before;
            }

            &::after{ 
                @include button-after;
            }

            &:hover::before, &:hover::after{
                @include button-hover;
            }      
        } 
    }
}

/*---------------------------------------------------------------------
                        Footer Section
-----------------------------------------------------------------------*/
footer{
    font-size: $font-size-small;
    color: $font-color-lightGray;
    letter-spacing: .02em;
    border-top: 1px solid #ccc;
    padding: 50px 0;
    position: relative;

    .menu-wrap{
        margin-bottom: 50px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0 4em;

        .footerLogo{
            width: 6em;
            height: 6em;
        }

        nav{    
            ul {
                list-style: none;
                margin-left: 3.5em;
                display: flex;
                flex-wrap: nowrap;

                li{
                    padding: 2em 0.5em 0;
    
                    a{
                        @include footNavbar;
                    }

                    .list-items::after{
                        @include borderBottom(0);
                    }

                    .list-items:hover::after{
                        width: 50%;
                        transition: width .3s;
                    }

                    .active::after{
                        @include borderBottom(50%);
                    }
                }               
            }
        }
    }

    .social{
        position: absolute;
        top: 70px;
        right: 4em;
        display: flex;

        li{
            padding-right: 1em;

            .mediaIcon{
                opacity: 0.7;
                width: 29px;
                height: 29px;
                transition: all 0.3s ease;

                &:hover{
                    opacity: 1;
                    width: 30px;
                    height: 30px;
                    transition: all 0.3s ease;
                }
             }

             &:last-child{
                 padding-right: 0;
             }
        }       
    }

    .info{
        padding: 0 4em;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        
        dl{
            width: 70%;

            dt {
                float: left;
                width: 15%;
                padding: 0.25em;
            }
    
            dd {
                float: left;
                width: 75%;
                padding: 0.25em;
                margin: 0;
    
                a{
                    color: $font-color-lightGray;

                    &:hover{
                        color: $font-color-light;
                    }
                }
            }
        }

         .copy{
            align-self: flex-end;

            p{
                line-height: 1.8;
                text-align: right;
                color: $font-color-lightGray;
            }
        }       
    }
}

/*---------------------------------------------------------------------
                     2. ABOUT PAGE SECTION
-----------------------------------------------------------------------*/
.aboutHeader{
    height: 80vh;
    background: url(../img/carousel2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    .scroll-button{
        @include buttons;
        position: absolute;
        left: 200px;
        bottom: 50px;
        color: $font-color-white;

        &::before{ 
            @include button-before;
            border-color: $font-color-white;
        }

        &::after{ 
            @include button-after;
            border-color: $font-color-white;
        }

        &:hover::before, &:hover::after{
            @include button-hover;
            border-color: $font-color-white;
        }    
    }
}

.profile{
    display: flex;
    flex-wrap: wrap;

    .profile-image{
        background: url(../img/about_img1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 33.3%;
        height: 630px;
    }

    .profile-section{
        width: 66.6%;
        max-width: 800px;
        height: auto;
        min-height: 100%;
        padding: $padding-large;
        box-sizing: border-box;
        overflow: hidden;

        p{
            @include paragraphs;
            text-align: left;
        }
    }
}

.what_we_do{
    display: flex;
    flex-wrap: wrap;

    .we-do-image{
        background: url(../img/about_img2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        width: 66.6%;
        height: 1550px;
    }

    .we-do-section{
        width: 33%;
        max-width: 800px;
        height: auto;
        min-height: 100%;
        position: relative;
        padding: $padding-large;
        box-sizing: border-box;
        overflow: hidden;

        p{
            @include paragraphs;
            text-align: left;
        }

        ul{
            @include unordered_list;

            li{
                @include list;
            }
        }
    }
}

.why_to_choose{
    display: flex;
    flex-wrap: wrap;

    .why_choose_image{
        background: url(../img/about_img3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 30%;
        height: 550px;
    }

    .why_choose_section{
        width: 70%;
        max-width: 800px;
        height: auto;
        min-height: 100%;
        padding: $padding-large;
        box-sizing: border-box;
        overflow: hidden;

        p{
            @include paragraphs;
            text-align: left;
        }
    }
}


/*---------------------------------------------------------------------
                      3. PROJECT PAGE SECTION
-----------------------------------------------------------------------*/
.projectsHeader{
    height: 80vh;
    background: url(../img/carousel3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.grid_lock{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 385px));
    justify-content: center;
    grid-gap: 40px;

    .grid_project{
        width: 100%;

        .grid_img{
            img{
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
        }

        .grid_content{
            text-align: center;
            padding: 30px 10px;
            background-color: $font-color-white;
            transition: background-color 0.5s ease;
            
            h2{
                font-size: $font-size-reg;
                font-weight: $font-weight-bold;
                color: $font-color-black;
                transition: color 0.5s ease;
            }

            p{
                font-weight: $font-weight-light;
                font-size: $font-size-secondary;
                color: $font-color-lightGray;
                transition: color 0.5s ease; 
            }

            &:hover{ 
                background-color: $font-color-black;
                transition: background-color 0.5s ease;
                cursor: pointer;

                h2{
                    color: $font-color-white;
                    transition: color 0.5s ease;
                }
                p{
                    color: $font-color-gray;
                    transition: color 0.5s ease;
                }
            }
        }
    }
}

/*---------------------------------------------------------------------
                      4. CONTACT PAGE SECTION
-----------------------------------------------------------------------*/
.contactHeader{
    height: 80vh;
    background: url(../img/carousel4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.social_class{
    display: flex;
    flex-wrap: wrap;

    .insta{
        width: 50%;
        padding: 100px 30px;
        text-align: center;
        box-sizing: border-box;
        text-decoration: none;
        background: #222;

        img{
            margin: 0 auto 20px;
            text-align: center;
            height: 90px;
            opacity: 0.5;
            transition: opacity 0.3s ease;
        }

        p{
            color: $font-color-white;
            opacity: 0.5;
            transition: opacity 0.3s ease;

            strong{
                display: inline-block;
            }
        }

        &:hover{
            img{
                opacity: 1;
                transition: opacity 0.3s ease;
            }
            p{
                opacity: 1;
                transition: opacity 0.3s ease;
            }
        }
    }

    .tweet{
        width: 50%;
        padding: 100px 30px;
        text-align: center;
        box-sizing: border-box;
        text-decoration: none;
        background: #333;
        
        img{
            margin: 0 auto 20px;
            text-align: center;
            height: 90px;
            opacity: 0.5;
            transition: opacity 0.3s ease;
        }

        p{
            color: $font-color-white;
            opacity: 0.5;
            transition: opacity 0.3s ease;

            strong{
                display: inline-block;
            }
        }

        &:hover{
            img{
                opacity: 1;
                transition: opacity 0.3s ease;
            }
            p{
                opacity: 1;
                transition: opacity 0.3s ease;
            }
        }
    }
}

.contact-box{
    display: flex;
    flex-wrap: wrap;

    .map{
        width: 50%;

        img{
            width: 100%;
        }
    }

    .wrap{
        width: 50%;
        height: auto;
        min-height: 100%; 
        padding: $padding-large;
        box-sizing: border-box;

        .my-form{
            .form-group{
                padding-bottom: 20px;

                label{
                    font-weight: $font-weight-light;
                    font-size: $font-size-secondary;
                    color: $font-color-lightGray; 
                }

                input{
                    width: 100%;
                    border: none;
                    outline: none;                  
                    border-bottom: 1px solid $font-color-gray;
                    transition: border-bottom 0.3s ease;

                    &:hover{
                        border-bottom: 1px solid $font-color-light;
                        transition: border-bottom 0.3s ease;
                    }
                }

                textarea{
                    width: 100%;
                    border: none;
                    outline: none;
                    padding-top: 50px;
                    border-bottom: 1px solid $font-color-gray;
                    transition: border-bottom 0.3s ease;
                    
                    &:hover{
                        border-bottom: 1px solid $font-color-light;
                        transition: border-bottom 0.3s ease;
                    }
                }
            }

            a{
                margin-top: 30px;

                @include buttons;
    
                &::before{ 
                    @include button-before;
                }
    
                &::after{ 
                    @include button-after;
                }
    
                &:hover::before, &:hover::after{
                    @include button-hover;
                }    
            }
        }
    }
}


/*---------------------------------------------------------------------
                            Media Queries
-----------------------------------------------------------------------*/

@media only screen and (max-width:1200px){
    .Scope1{
        .about{
            padding: $padding-med; 
        }
    }

    .Scope2{
        .projects{
            padding: $padding-med;
        }
    }

    /*---------------------------------------------------------------------
                        ABOUT PAGE SECTION
    -----------------------------------------------------------------------*/

    .profile{
        .profile-section{
            padding: $padding-med;
        }
    }
    
    .what_we_do{  
        .we-do-section{
            padding: $padding-med;
        }
    }

    .why_to_choose{
        .why_choose_section{
            padding: $padding-med;
        }
    }   
}

@media only screen and (max-width:1020px){
   header{
       h1{
           font-size: $font-size-med;
       }

       p{
        font-size: $font-size-primary;
       }
   }

   .Scope1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        .img:first-of-type{
            grid-column: 1/2;
            grid-row: 1/2;
            max-height: 300px;
            width: 100%;
            background: url(../img/_article1.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .img:last-of-type{
            grid-column: 2/3;
            grid-row: 1/2;
            max-height: 300px;
            width: 100%;
            background: url(../img/_article2.jpeg);
            background-repeat: no-repeat;
            background-size: cover;  
            background-position: center center;       
        }

        .about{
            grid-column: 1/3;
            grid-row: 2/3;  
            margin: 0 auto;
            width: 100%;
            height: auto;
            min-height: 100%;
        } 
    }

    .Scope2{
        .img{           
            height: 500px;
            flex: 1 0 100%;
        }
    
        .projects{
            @include growContent;
            padding: $padding-med; 
        }
    }

    footer{
        .menu-wrap{
            margin-left: auto;
            margin-right: auto;
            padding: 0 4em;
    
            .footerLogo{
                display: none;
            }
    
            nav{   
                margin: 0 auto;

                ul{
                    margin-left: 0;

                    li{
                        padding-top: 0;
                    }
                }            
            }  
        }
    
        .social{
            position: absolute;
            top: 110px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;      
        }
    
        .info{
            padding: 3em 4em 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            dl{
                flex: 1 0 100%;
                text-align: center;
    
                dt {
                    width: 100%;
                    padding: 0;
                }
        
                dd {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 15px;
                }
            }
    
             .copy{
                flex: 1 0 100%;
                text-align: center;
                margin-top: 70px;
    
                p{
                    text-align: center;
                }
            }          
        }
    }

    /*---------------------------------------------------------------------
                     2. ABOUT PAGE SECTION
    -----------------------------------------------------------------------*/

    .profile{
        .profile-image{
            height: 400px;
            flex: 1 0 100%;
        }
        .profile-section{
            @include growContent;
            padding: $padding-small;
        }
    }
    
    .what_we_do{  
        .we-do-image{
            height: 350px;
            flex: 1 0 100%;
        }
        .we-do-section{
            @include growContent;
            padding: $padding-small;
        }
    }

    .why_to_choose{
        .why_choose_image{
            height: 400px;
            flex: 1 0 100%;
        }
        .why_choose_section{
            @include growContent;
            padding: $padding-small;
        }
    }  

    /*---------------------------------------------------------------------
                      4. CONTACT PAGE SECTION
    -----------------------------------------------------------------------*/
    .contact-box{
        .map{
            @include growContent;
        }

        .wrap{
            @include growContent;
        }
    }

}

@media only screen and (max-width:767px){
    header{
        .navbar{
            padding-left: 6%;

            .logo{
                width: 4em;
                height: 4em;
                }
            
                nav{    
                    display: none;
            }           
        }

        h1{
            font-size: $font-size-reg;
            line-height: 1.3;
            letter-spacing: 0.02em;
            position: absolute;
            top: 150px;
            left: 6%;
            max-width: 350px;
            text-align: left;
            text-shadow: 0 0 1px #000;
            padding-right: 50px;
            box-sizing: border-box;
        }

        p{
            font-size: $font-size-small;
            left: 6%;
        }
    }

    .Scope1{
        .about{
            padding: $padding-small; 

            h2,p,a{
                font-size: $font-size-small;
            } 
        }
    }

    .Scope2{
        .img{           
            height: 400px;
        }

        .projects{
            padding: $padding-small;

            h2,p,a{
                font-size: $font-size-small;
            } 
        }
    }

    footer{
        font-size: $font-size-smaller;

        .menu-wrap{
            display: none;    
        }
    
        .social{
            top: 40px;  
        }
    }

    /*---------------------------------------------------------------------
                     2. ABOUT PAGE SECTION
    -----------------------------------------------------------------------*/
    .aboutHeader{
        background-position: right center;
        .scroll-button{
            left: 50px; 
        }
    }  

    .profile{
        .profile-section{
            p{
                font-size: $font-size-small;
            }
        }
    }

    .what_we_do{
        .we-do-section{
            p{
                font-size: $font-size-small;
            }
            ul{
                li{
                    font-size: $font-size-small;
                }
            }
        }
    }

    .why_to_choose{
        .why_choose_section{
            p{
                font-size: $font-size-small;
            }
            ul{
                li{
                    font-size: $font-size-small;
                }
            }
        }
    }

    /*---------------------------------------------------------------------
                      4. CONTACT PAGE SECTION
    -----------------------------------------------------------------------*/
    .social_class{
        .insta{
            @include growContent;
            padding: 30px;

            img{
                height: 60px;
            }
        }

        .tweet{
            @include growContent;
            padding: 30px;

            img{
                height: 60px;
            }
        }
    }

    .contact-box{
        .map{
            @include growContent;
        }

        .wrap{
            @include growContent;
            padding: $padding-small;

            .my-form{
                .form-group{    
                    label{
                        font-size: $font-size-small;
                    }
                }
    
                a{
                    margin-top: 30px;
                    font-size: $font-size-small;
                }
            }
        }    
    }
}

@media only screen and (max-width: 380px){
    header{
        .navbar{
            padding-left: 8%;       
        }

        h1{
            left: 8%;
            max-width: 250px;
            padding-right: 30px;
        }
    }
}
