@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/*--------Hyperlinks 'a' tags--------*/
/*-----Navbar bottom border animation -----*/
/*--------Buttons--------*/
/*--------Heading--------*/
/*--------Paragraphs--------*/
/*-------List Items ---------*/
/*-----------Flex Grow ------------*/
/*limited reset*/
html,
body,
div,
section,
article,
aside,
header,
hgroup,
footer,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
time,
span,
em,
strong,
img,
ol,
ul,
li,
dl,
dt,
dd,
figure,
canvas,
video,
th,
td,
tr {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/*Global Styles*/
html,
body {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  position: relative;
  color: #fff;
  font-weight: 300;
  scroll-behavior: smooth;
}

/*---------------------------------------------------------------------
                        Header Section
-----------------------------------------------------------------------*/
header {
  height: 90vh;
  background: url(../img/carousel1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  position: relative;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2em 0 0 4em;
}

header .navbar .logo {
  width: 6em;
  height: 6em;
}

header .navbar nav ul {
  list-style: none;
  margin-left: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .navbar nav ul li {
  padding: 2.2em 0.4em 0;
}

header .navbar nav ul li a {
  color: #fff;
  padding: 0.5em 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 900;
  text-shadow: 0 1px 1px #000;
}

header .navbar nav ul li .list-items::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #b91010;
  -webkit-transition: width .3s;
  transition: width .3s;
}

header .navbar nav ul li .list-items:hover::after {
  width: 50%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

header .navbar nav ul li .active::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: #b91010;
  -webkit-transition: width .3s;
  transition: width .3s;
}

header h1 {
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.04em;
  position: absolute;
  top: 200px;
  left: 15%;
  width: 500px;
  text-shadow: 0 1px 1px #000;
}

header p {
  font-size: 1.3rem;
  font-weight: 300;
  word-spacing: 0.15em;
  position: absolute;
  bottom: 70px;
  left: 15%;
  width: 75%;
  padding-right: 7px;
  text-shadow: 0 0 1px #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header p strong {
  display: inline-block;
  text-shadow: 0 1px 1px #000;
}

/*---------------------------------------------------------------------
                        Article 1 Section
-----------------------------------------------------------------------*/
.Scope1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Scope1 .img:first-of-type {
  background: url(../img/article1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33.3%;
  height: 900px;
}

.Scope1 .img:last-of-type {
  background: url(../img/article2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 33.3%;
  height: 900px;
}

.Scope1 .about {
  width: 33.3%;
  max-width: 800px;
  height: auto;
  min-height: 100%;
  padding: 100px 70px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.Scope1 .about h2 {
  font-weight: 900;
  font-size: 1.1rem;
  color: #757477;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .05em;
  margin-bottom: 30px;
}

.Scope1 .about p {
  text-align: center;
  line-height: 1.8em;
  font-weight: 300;
  font-size: 1rem;
  color: #9c9999;
  letter-spacing: .02em;
  margin-bottom: 30px;
}

.Scope1 .about a {
  color: #b91010;
  padding: 0.8em 2em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}

.Scope1 .about a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-right: none !important;
  border-bottom: none !important;
  border: 1px solid #b91010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
}

.Scope1 .about a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-left: none !important;
  border-top: none !important;
  border: 1px solid #b91010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
}

.Scope1 .about a:hover::before, .Scope1 .about a:hover::after {
  height: 100%;
  width: 100%;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
}

/*---------------------------------------------------------------------
                        Article 2 Section
-----------------------------------------------------------------------*/
.Scope2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Scope2 .img {
  background: url(../img/article3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 66.6%;
  height: 700px;
}

.Scope2 .projects {
  width: 33%;
  max-width: 800px;
  height: auto;
  min-height: 100%;
  position: relative;
  padding: 100px 70px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.Scope2 .projects h2 {
  font-weight: 900;
  font-size: 1.1rem;
  color: #757477;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: .05em;
  margin-bottom: 30px;
}

.Scope2 .projects p {
  text-align: center;
  line-height: 1.8em;
  font-weight: 300;
  font-size: 1rem;
  color: #9c9999;
  letter-spacing: .02em;
  margin-bottom: 30px;
}

.Scope2 .projects a {
  color: #b91010;
  padding: 0.8em 2em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}

.Scope2 .projects a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-right: none !important;
  border-bottom: none !important;
  border: 1px solid #b91010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
}

.Scope2 .projects a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-left: none !important;
  border-top: none !important;
  border: 1px solid #b91010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
}

.Scope2 .projects a:hover::before, .Scope2 .projects a:hover::after {
  height: 100%;
  width: 100%;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
}

/*---------------------------------------------------------------------
                        Footer Section
-----------------------------------------------------------------------*/
footer {
  font-size: 0.9rem;
  color: #9c9999;
  letter-spacing: 0.02em;
  border-top: 1px solid #ccc;
  padding: 50px 0;
  position: relative;
}

footer .menu-wrap {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 4em;
}

footer .menu-wrap .footerLogo {
  width: 6em;
  height: 6em;
}

footer .menu-wrap nav ul {
  list-style: none;
  margin-left: 3.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer .menu-wrap nav ul li {
  padding: 2em 0.5em 0;
}

footer .menu-wrap nav ul li a {
  color: #000;
  padding: 0.5em 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 900;
}

footer .menu-wrap nav ul li .list-items::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #b91010;
  -webkit-transition: width .3s;
  transition: width .3s;
}

footer .menu-wrap nav ul li .list-items:hover::after {
  width: 50%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

footer .menu-wrap nav ul li .active::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: #b91010;
  -webkit-transition: width .3s;
  transition: width .3s;
}

footer .social {
  position: absolute;
  top: 70px;
  right: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social li {
  padding-right: 1em;
}

footer .social li .mediaIcon {
  opacity: 0.7;
  width: 29px;
  height: 29px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .social li .mediaIcon:hover {
  opacity: 1;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .social li:last-child {
  padding-right: 0;
}

footer .info {
  padding: 0 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

footer .info dl {
  width: 70%;
}

footer .info dl dt {
  float: left;
  width: 15%;
  padding: 0.25em;
}

footer .info dl dd {
  float: left;
  width: 75%;
  padding: 0.25em;
  margin: 0;
}

footer .info dl dd a {
  color: #9c9999;
}

footer .info dl dd a:hover {
  color: #757477;
}

footer .info .copy {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .info .copy p {
  line-height: 1.8;
  text-align: right;
  color: #9c9999;
}

/*---------------------------------------------------------------------
                     2. ABOUT PAGE SECTION
-----------------------------------------------------------------------*/
.aboutHeader {
  height: 80vh;
  background: url(../img/carousel2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0px;
  background-attachment: fixed;
}

.aboutHeader .scroll-button {
  color: #b91010;
  padding: 0.8em 2em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  cursor: pointer;
  position: absolute;
  left: 200px;
  bottom: 50px;
  color: #fff;
}

.aboutHeader .scroll-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-right: none !important;
  border-bottom: none !important;
  border: 1px solid #b91010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
  border-color: #fff;
}

.aboutHeader .scroll-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-left: none !important;
  border-top: none !important;
  border: 1px solid #b91010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
  border-color: #fff;
}

.aboutHeader .scroll-button:hover::before, .aboutHeader .scroll-button:hover::after {
  height: 100%;
  width: 100%;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
  border-color: #fff;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile .profile-image {
  background: url(../img/about_img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 33.3%;
  height: 630px;
}

.profile .profile-section {
  width: 66.6%;
  max-width: 800px;
  height: auto;
  min-height: 100%;
  padding: 100px 70px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.profile .profile-section p {
  text-align: center;
  line-height: 1.8em;
  font-weight: 300;
  font-size: 1rem;
  color: #9c9999;
  letter-spacing: .02em;
  margin-bottom: 30px;
  text-align: left;
}

.what_we_do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.what_we_do .we-do-image {
  background: url(../img/about_img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 66.6%;
  height: 1550px;
}

.what_we_do .we-do-section {
  width: 33%;
  max-width: 800px;
  height: auto;
  min-height: 100%;
  position: relative;
  padding: 100px 70px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.what_we_do .we-do-section p {
  text-align: center;
  line-height: 1.8em;
  font-weight: 300;
  font-size: 1rem;
  color: #9c9999;
  letter-spacing: .02em;
  margin-bottom: 30px;
  text-align: left;
}

.what_we_do .we-do-section ul {
  font-weight: 300;
  font-size: 1rem;
  margin: 0 0 30px;
  padding-left: 20px;
}

.what_we_do .we-do-section ul li {
  display: list-item;
  padding: 2px 0;
  line-height: 1.5;
  color: #9c9999;
  font-weight: 300;
  font-size: 1rem;
}

.why_to_choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why_to_choose .why_choose_image {
  background: url(../img/about_img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 30%;
  height: 550px;
}

.why_to_choose .why_choose_section {
  width: 70%;
  max-width: 800px;
  height: auto;
  min-height: 100%;
  padding: 100px 70px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.why_to_choose .why_choose_section p {
  text-align: center;
  line-height: 1.8em;
  font-weight: 300;
  font-size: 1rem;
  color: #9c9999;
  letter-spacing: .02em;
  margin-bottom: 30px;
  text-align: left;
}

/*---------------------------------------------------------------------
                      3. PROJECT PAGE SECTION
-----------------------------------------------------------------------*/
.projectsHeader {
  height: 80vh;
  background: url(../img/carousel3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0px;
  background-attachment: fixed;
}

.grid_lock {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 385px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 385px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 40px;
}

.grid_lock .grid_project {
  width: 100%;
}

.grid_lock .grid_project .grid_img img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.grid_lock .grid_project .grid_content {
  text-align: center;
  padding: 30px 10px;
  background-color: #fff;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.grid_lock .grid_project .grid_content h2 {
  font-size: 1.3rem;
  font-weight: 900;
  color: #000;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.grid_lock .grid_project .grid_content p {
  font-weight: 300;
  font-size: 1rem;
  color: #9c9999;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.grid_lock .grid_project .grid_content:hover {
  background-color: #000;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.grid_lock .grid_project .grid_content:hover h2 {
  color: #fff;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.grid_lock .grid_project .grid_content:hover p {
  color: #ccc;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

/*---------------------------------------------------------------------
                      4. CONTACT PAGE SECTION
-----------------------------------------------------------------------*/
.contactHeader {
  height: 80vh;
  background: url(../img/carousel4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0px;
  background-attachment: fixed;
}

.social_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social_class .insta {
  width: 50%;
  padding: 100px 30px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  background: #222;
}

.social_class .insta img {
  margin: 0 auto 20px;
  text-align: center;
  height: 90px;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social_class .insta p {
  color: #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social_class .insta p strong {
  display: inline-block;
}

.social_class .insta:hover img {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social_class .insta:hover p {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social_class .tweet {
  width: 50%;
  padding: 100px 30px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  background: #333;
}

.social_class .tweet img {
  margin: 0 auto 20px;
  text-align: center;
  height: 90px;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social_class .tweet p {
  color: #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social_class .tweet p strong {
  display: inline-block;
}

.social_class .tweet:hover img {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social_class .tweet:hover p {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-box .map {
  width: 50%;
}

.contact-box .map img {
  width: 100%;
}

.contact-box .wrap {
  width: 50%;
  height: auto;
  min-height: 100%;
  padding: 100px 70px 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-box .wrap .my-form .form-group {
  padding-bottom: 20px;
}

.contact-box .wrap .my-form .form-group label {
  font-weight: 300;
  font-size: 1rem;
  color: #9c9999;
}

.contact-box .wrap .my-form .form-group input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  -webkit-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
}

.contact-box .wrap .my-form .form-group input:hover {
  border-bottom: 1px solid #757477;
  -webkit-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
}

.contact-box .wrap .my-form .form-group textarea {
  width: 100%;
  border: none;
  outline: none;
  padding-top: 50px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
}

.contact-box .wrap .my-form .form-group textarea:hover {
  border-bottom: 1px solid #757477;
  -webkit-transition: border-bottom 0.3s ease;
  transition: border-bottom 0.3s ease;
}

.contact-box .wrap .my-form a {
  margin-top: 30px;
  color: #b91010;
  padding: 0.8em 2em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}

.contact-box .wrap .my-form a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-right: none !important;
  border-bottom: none !important;
  border: 1px solid #b91010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
}

.contact-box .wrap .my-form a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-left: none !important;
  border-top: none !important;
  border: 1px solid #b91010;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
}

.contact-box .wrap .my-form a:hover::before, .contact-box .wrap .my-form a:hover::after {
  height: 100%;
  width: 100%;
  -webkit-transition: height 0.2s linear, width 0.2s linear 0.2s;
  transition: height 0.2s linear, width 0.2s linear 0.2s;
}

/*---------------------------------------------------------------------
                            Media Queries
-----------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
  .Scope1 .about {
    padding: 70px 40px 40px;
  }
  .Scope2 .projects {
    padding: 70px 40px 40px;
  }
  /*---------------------------------------------------------------------
                        ABOUT PAGE SECTION
    -----------------------------------------------------------------------*/
  .profile .profile-section {
    padding: 70px 40px 40px;
  }
  .what_we_do .we-do-section {
    padding: 70px 40px 40px;
  }
  .why_to_choose .why_choose_section {
    padding: 70px 40px 40px;
  }
}

@media only screen and (max-width: 1020px) {
  header h1 {
    font-size: 2rem;
  }
  header p {
    font-size: 1.1rem;
  }
  .Scope1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .Scope1 .img:first-of-type {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    max-height: 300px;
    width: 100%;
    background: url(../img/article1_small.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .Scope1 .img:last-of-type {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    max-height: 300px;
    width: 100%;
    background: url(../img/article2_small.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .Scope1 .about {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  .Scope2 .img {
    height: 500px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .Scope2 .projects {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 70px 40px 40px;
  }
  footer .menu-wrap {
    margin-left: auto;
    margin-right: auto;
    padding: 0 4em;
  }
  footer .menu-wrap .footerLogo {
    display: none;
  }
  footer .menu-wrap nav {
    margin: 0 auto;
  }
  footer .menu-wrap nav ul {
    margin-left: 0;
  }
  footer .menu-wrap nav ul li {
    padding-top: 0;
  }
  footer .social {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .info {
    padding: 3em 4em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .info dl {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    text-align: center;
  }
  footer .info dl dt {
    width: 100%;
    padding: 0;
  }
  footer .info dl dd {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
  footer .info .copy {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    text-align: center;
    margin-top: 70px;
  }
  footer .info .copy p {
    text-align: center;
  }
  /*---------------------------------------------------------------------
                     2. ABOUT PAGE SECTION
    -----------------------------------------------------------------------*/
  .profile .profile-image {
    height: 400px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .profile .profile-section {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 60px 30px 30px;
  }
  .what_we_do .we-do-image {
    height: 350px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .what_we_do .we-do-section {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 60px 30px 30px;
  }
  .why_to_choose .why_choose_image {
    height: 400px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .why_to_choose .why_choose_section {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 60px 30px 30px;
  }
  /*---------------------------------------------------------------------
                      4. CONTACT PAGE SECTION
    -----------------------------------------------------------------------*/
  .contact-box .map {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .contact-box .wrap {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media only screen and (max-width: 767px) {
  header .navbar {
    padding-left: 6%;
    position: relative;
  }
  header .navbar .logo {
    width: 4em;
    height: 4em;
  }
  header .navbar nav .hamburger {
    position: fixed;
    cursor: pointer;
    right: 3%;
    top: 2em;
    z-index: 200;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navbar nav .hamburger .line {
    width: 20px;
    height: 1px;
    background: #000;
    margin: 2px auto;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .navbar nav .hamburger .active1 {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
  header .navbar nav .hamburger .active2 {
    opacity: 0;
  }
  header .navbar nav .hamburger .active3 {
    -webkit-transform: translateY(-5px) rotate(45deg);
            transform: translateY(-5px) rotate(45deg);
  }
  header .navbar nav .burgerBG {
    background: #757477;
  }
  header .navbar nav .list-group {
    position: fixed;
    background: #000;
    top: 0;
    right: 0;
    height: 100vh;
    width: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: -webkit-transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
    z-index: 100;
  }
  header .navbar nav .list-group li {
    padding-top: 10px;
  }
  header .navbar nav .list-group li:first-child {
    padding-top: 100px;
  }
  header .navbar nav .list-group li a {
    font-size: 0.9rem;
  }
  header .navbar nav .open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header h1 {
    font-size: 1.3rem;
    line-height: 1.3;
    letter-spacing: 0.02em;
    position: absolute;
    top: 150px;
    left: 6%;
    max-width: 350px;
    text-align: left;
    text-shadow: 0 0 1px #000;
    padding-right: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header p {
    font-size: 0.9rem;
    left: 6%;
  }
  .Scope1 .about {
    padding: 60px 30px 30px;
  }
  .Scope1 .about h2,
  .Scope1 .about p,
  .Scope1 .about a {
    font-size: 0.9rem;
  }
  .Scope2 .img {
    height: 400px;
  }
  .Scope2 .projects {
    padding: 60px 30px 30px;
  }
  .Scope2 .projects h2,
  .Scope2 .projects p,
  .Scope2 .projects a {
    font-size: 0.9rem;
  }
  footer {
    font-size: 0.8rem;
  }
  footer .menu-wrap {
    display: none;
  }
  footer .social {
    top: 40px;
  }
  /*---------------------------------------------------------------------
                     2. ABOUT PAGE SECTION
    -----------------------------------------------------------------------*/
  .aboutHeader {
    background-position: right center;
  }
  .aboutHeader .scroll-button {
    left: 50px;
  }
  .profile .profile-section p {
    font-size: 0.9rem;
  }
  .what_we_do .we-do-section p {
    font-size: 0.9rem;
  }
  .what_we_do .we-do-section ul li {
    font-size: 0.9rem;
  }
  .why_to_choose .why_choose_section p {
    font-size: 0.9rem;
  }
  .why_to_choose .why_choose_section ul li {
    font-size: 0.9rem;
  }
  /*---------------------------------------------------------------------
                      4. CONTACT PAGE SECTION
    -----------------------------------------------------------------------*/
  .social_class .insta {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 30px;
  }
  .social_class .insta img {
    height: 60px;
  }
  .social_class .tweet {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 30px;
  }
  .social_class .tweet img {
    height: 60px;
  }
  .contact-box .map {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .contact-box .wrap {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 60px 30px 30px;
  }
  .contact-box .wrap .my-form .form-group label {
    font-size: 0.9rem;
  }
  .contact-box .wrap .my-form a {
    margin-top: 30px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 380px) {
  header .navbar {
    padding-left: 8%;
  }
  header h1 {
    left: 8%;
    max-width: 250px;
    padding-right: 30px;
  }
}
